@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideUpBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDownBottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes placeholderFade {
  0% {
    opacity: .1;
  }

  50% {
    opacity: .3;
  }

  100% {
    opacity: .1;
  }
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  50% {
    transform: translateY(10px);
  }

  90% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

%slide-up,
.slide-up {
  animation: slideUp .3s ease-out forwards;
}

%slide-down,
.slide-down {
  animation: slideDown .3s ease-out forwards;
}
