.container-banner {
  position: relative;

  &__image {
    width: 100%;
    height: auto;
    margin: 0;
  }
  &__paragraph {
    h1 {
      color: $black;
    }
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
